.navbar {
	border-bottom: solid 0.2rem #0B7189;
	background-color: #f2f2f2 !important;
}

code {
  font-size: 0.975em;
}

pre {
  font-size: 0.95em;
}

h2 {
	margin: 2rem 0 1.5rem 0;
}

h3 {
  margin: 1.5rem 0 1rem 0;
  font-size: 1.5rem;
}
