@font-face {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(font?kit=1Ptyg83HX_SGhgqO0yLcmjzUAuWexZNRwaM&skey=9f5b077cc22e75c7&v=v13) format('woff');
}
