/*
Theme mostly taken from Matthew Kay's "ggblend" package
https://mjskay.github.io/ggblend/
on 2024-03-16
*/

.navbar {
	border-bottom: solid 0.2rem #0B7189;
	background-color: #f2f2f2 !important;
}

.page-header {
	min-height: 1rem !important;
}

@media (min-width: 1400px) {
  body {
    font-size: calc(inherit + 0.2rem);
  }
}

h6,.h6,h5,.h5,h4,.h4,h3,.h3,h2,.h2,h1,.h1 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-weight: 600;
  color: #444444;
}

pre {
  padding: 0.9rem 1rem 1rem;
  background-color: #f6f6f6;
  border: none;
  border-radius: 0.5em;
}

.navbar {
  background-color: white !important;
}

.navbar-brand {
  font-size: var(--bs-nav-link-font-size);
  color: #6c757d;
}

h1, .h1 {
  font-size: calc(1.375rem + 1vw);
  font-weight: 700;
}

h2, .h2 {
  font-size: calc(1.325rem + 0.5vw);
}

h3, .h3 {
  font-size: calc(1.25rem + 0.5vw);
}

@media (min-width: 1200px) {
  h1, .h1 {
    font-size: 2rem;
  }

  h2, .h2 {
    font-size: 1.75rem;
  }

  h3, .h3 {
    font-size: 1.3rem;
  }
}

aside h2, aside .h2 {
  margin-bottom: 0.5rem;
}
