# Run CI for R using https://eddelbuettel.github.io/r-ci/

name: covr

on:
  push:
    branches: [main, master]
    paths:
      - .Rbuildignore
      - R/**
      - tests/**
      - vignettes/*
      - DESCRIPTION
      - NAMESPACE
  pull_request:
    branches: [main, master]
    paths:
      - .Rbuildignore
      - R/**
      - tests/**
      - vignettes/*
      - DESCRIPTION
      - NAMESPACE

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref }}
  cancel-in-progress: true

env:
  _R_CHECK_FORCE_SUGGESTS_: "false"
  _R_CHECK_TESTS_NLINES_: 0
  R_NOT_CRAN: true
  R_GH: true
  GITHUB_PAT: ${{ secrets.COVR_GH_PAT }}

jobs:
  ci:
    runs-on: ubuntu-latest

    container:
      image: rocker/r2u:latest
    steps:
      - uses: actions/checkout@v4
      - name: SessionInfo
        run: R -q -e 'sessionInfo()'
      - name: Package Dependencies
        run: |
          Sys.setenv(NOT_CRAN = "true") # Enable installation with pre-built Rust library binary, or enable Rust caching
          # TODO: use the community multiverse once polars 1.0.0 is released
          # remotes::install_deps(".", repos = c("https://community.r-multiverse.org", getOption("repos")), dependencies=TRUE, method = "libcurl")
          remotes::install_deps(".", repos = c("https://rpolars.r-universe.dev", getOption("repos")), dependencies=TRUE, method = "libcurl")
        shell: Rscript {0}

      - name: Test coverage
        run: |
          install.packages('covr')
          covr::codecov(
            quiet = FALSE,
            clean = FALSE,
            token = "${{secrets.CODECOV_TOKEN}}"
          )
        shell: Rscript {0}
