name: Code coverage

on:
  push:
    branches: [main, master]
    paths:
      - .Rbuildignore
      - R/**
      - tests/**
      - vignettes/*
      - DESCRIPTION
      - NAMESPACE
  pull_request:
    branches: [main, master]
    paths:
      - .Rbuildignore
      - R/**
      - tests/**
      - vignettes/*
      - DESCRIPTION
      - NAMESPACE

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref }}
  cancel-in-progress: true

jobs:
  codecov:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - uses: r-lib/actions/setup-pandoc@v2
        with:
          pandoc-version: "latest"

      - uses: r-lib/actions/setup-r@v2
        with:
          use-public-rspm: true
          extra-repositories: 'https://community.r-multiverse.org'

      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          cache-version: 2
          extra-packages: |
            any::covr
            local::.

      - name: Test coverage
        run: |
          options(crayon.enabled = TRUE)
          covr::codecov(quiet = FALSE)
        shell: Rscript {0}
